Cliente en Python
Requisitos

    Python 3.x
    requests library

Servidor

    Para correr el Servidor localmente revisar el README.md del servidor.

Instalación de requests

    ```bash
    pip install requests

Archivo requirements.txt:
    ```text
    requests

Ejecución

    ```bash
    python client/main.py

